.window {
    max-width: 1280px;
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0 50px;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFF;
    box-sizing: border-box;
    background-color: rgb(100, 177, 218);
    position: relative;
}