.controls__label {
    margin: 0;
    padding: 0;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.controls__label:hover {
    cursor: pointer;
    opacity: 0.9;
}

@media screen and (max-height: 650px) {
    .controls__label {
        height: 80px;
        width: 80px;
    }
} 