.controls__submit {
    margin: 30px 0 0;
    padding: 0;
    border: 0;
    border-radius: 30%;
    width: 300px;
    height: 70px;
    background-color: transparent;
    background-image: radial-gradient(rgb(117, 229, 248), transparent);
    color: white;
    cursor: pointer;
    font-size: 30px;
    align-self: center;
}

@media screen and (max-height: 650px) {
    .controls__submit {
        margin-top: 15px;
        height: 50px;
        width: 200px;
    }
}