.header__button {
    margin: 0;
    padding: 0;
    display: block;
    height: 20px;
    width: 30px;
    border: 0;
    background-color: transparent;
    border-bottom: 3px solid rgb(59, 101, 114);
    border-top: 3px solid rgb(59, 101, 114);
}

.header__button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgb(202, 222, 233);
}