.header__switch {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    left: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
}

@media screen and (max-height: 799px) {
    .header__switch {
        top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__switch {
        left: 10px;
        top: 10px;
        row-gap: 10px;
    }
}